:root {
  --clr-bg-100: hsl(0, 3%, 6%);
  --clr-neutral-600: 	hsl(240, 14%, 80%);
  --clr-neutral-800: 	hsl(240, 14%, 92%);
  --clr-neutral-900: hsl(240, 14%, 94%);
  --clr-neutral-1000: hsl(38, 20%, 97%);
  --clr-teal-900: hsl(176, 77%, 92%);
}

/*UNIVERSAL STYLING*/
body {
  background-color: var(--clr-bg-100);
  margin: 0;
}

h1 {
  color: var(--clr-teal-900);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 7.5em;
}

h2 {
  color: var(--clr-neutral-900);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

p {
  color: var(--clr-neutral-900);
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 1.5em;
}

flex_container {
  display: flex;
}

/*FLEX STYLING*/
/*First media query needed at 1400px*/

.landing_flex {
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: center;
}

/*Flex 1*/
.flex-landing-1 {
  padding: 0 6em 0 6em;
  margin-top: -15%;
  width: 40%;
}

.flex-landing-1 .landing-text {
  margin-top: 15%;
}

/*Flex 2*/

.flex-landing-2 {
  background-image: url("../imagesHome/backgroundFull.svg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 100vh;
  width: 60%;
}

.flex-landing-2 .landing-background {
  height: 100vh;
  z-index: -1;
}

.flex-phone-bound-1 {
  height: 80vh;
}

/**************************************************/
/*PHONE STYLING*/

.phone_bound_container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.flex-phone-bound-1 {
  width: 15%;
}

/*Interact button*/
.flex-landing-2 .interact-button {
  margin-top: 10%;
  margin-left: -80%;
  width: 200%;
  min-width: 200px;
  transition: 250ms ease;
}

.flex-landing-2 .interact-button:hover {
  transform: translateX(3em);
}

.flex-phone-bound-2 {
  width: 15%;
}

.phone_container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  background-image: url("../imagesHome/phoneOutline.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  aspect-ratio: 9 / 19.5;
  min-height: 925px;
  padding: 0 10% 0 10%;
  margin-top: 4%;
}

/*Flex 0 - Your profile text*/
.flex-phone-0 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.flex-top-2 .contact-logo {
  width: 30px;
  height: 30px;
  margin: 0 3px;
  padding: 2px;
  transition: 200ms ease;
}

.flex-top-2 .contact-logo:hover {
  background-color: rgba(255, 255, 255, .3);
  border-radius: 5px;
}

.flex-top-1 {
  width: 50%;
}

/*Flex 1 - top of profile*/
.phone_container .mobile-top_container {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.phone_container .flex-phone-1 {
  line-height: 1.75em;
}

.flex-phone-1 .mobile-image {
  margin-top: 2em;
}

.mobile-image img {
  border-radius: 50%;
  box-shadow:
    0 0 10px 2px rgba(255, 255, 255, .5);
}

.flex-phone-1, .phone_container .flex-phone-2 {
  text-align: left;
}

.flex-phone-1 {
  text-align: center;
  padding: 2%;
  margin-top: -45%;
  width: 100%;
}

.flex-phone-1 h2 {
  color: var(--clr-neutral-900);
  font-weight: 400;
}

.flex-phone-1 .bio {
  color: var(--clr-neutral-1000);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: .75em;
  line-height: 2em;
  text-align: center;
  width: 100%;
}

/*Flex 2 - text*/
.phone_container h2 {
  margin-left: 5%;
}

/*Flex 3 - posts*/
.flex-profile-2 {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.flex-post-bound {
  width: 2.5%;
}

.flex-phone-3 {
  align-self: flex-end;
  width: 95%;
}

.post_container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  background-color: #222;
  border-radius: 1.5em;
  height: 100%;
  min-height: 250px;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 10%;
  width: 100%;
}

.post_container .post-padding {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

/*Post styling*/
.flex-post {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  border-radius: 5px;
  padding: 1.4em 0;
  font-size: .925em;
  margin: 5% 0;
  text-align: left;
  width: 97%;
}

.flex-post .flex-post-content-1 {
  width: 30%;
}

.flex-post .flex-post-content-2 {
  width: 35%;
}

.flex-post .flex-post-content-3 {
  width: 20%;
}

/*Post logo styling*/
.flex-post-content-1 img {
  border-radius: .35em;
  width: 45px;
  height: 45px;
  float: left;
}

/*Arrow styling*/
.flex-post-content-3 img {
  width: 20px;
  height: 20px;
  float: right;
}

.flex-post .hr-post-1 {
  background-color: hsl(176, 30%, 67%);
}

.flex-post .hr-post-2 {
  background-color: 	hsl(212, 37%, 66%);
}

.flex-post .hr-post-3 {
  background-color: 	hsl(250, 35%, 60%);
}

/*Text styling*/
.flex-post a {
  color: var(--clr-neutral-900);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  transition: 150ms ease;
}

.flex-post {
  transition: 200ms ease-in;
}

.flex-post:hover, .post2_container .flex-post:hover {
  transform: scale(1.01, 1.01);
  box-shadow:
    0 0 15px 2px rgba(255, 255, 255, .15);
}

/*******************************************************/
/*Start of Mobile styling*/

/*Ultrawide*/
@media screen and (min-width: 2570px) {
  .flex-landing-1 {
    margin-left: 10%;
  }
  .post_container {
    margin-top: 25%;
  }
}

/*Tablet/Larger Mobile*/
@media screen and (max-width: 1100px) {
  /*Universal Styling*/
  body {
    margin-bottom: 5vh;
  }
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 1.25em;
  }
  p {
    font-size: 1.2em;
  }
  /*Landing flex*/
  .landing_flex {
    flex-flow: column;
    justify-content: center;
  }
  /*Flex 0*/
  .flex-phone-0 {
    margin-top: 15%;
  }
  /*Flex 1*/
  .flex-landing-1 {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .flex-landing-1 .landing-text {
    margin-top: 15%;
    margin-bottom: 10%;
    padding: 0 10%;
  }
  /*Flex 2*/
  .flex-landing-2 {
    background-image: url('../imagesHome/backgroundMobile.svg');
  }
  .flex-landing-2 .interact-button {
    display: none;
  }
  .flex-landing-2 {
    width: 100%;
    height: 100%;
  }
  .phone_container {
    max-height: 1000px;
  }
  .post_container {
    width: 100%;
    height: 87.5%;
  }
  .flex-post-bound {
    width: 5%;
  }
  /*Media post styling*/
  .flex-post-content-1 img {
    width: 40px;
    height: 40px;
  }
  .flex-post a {
    font-size: 1.125em;
  }
  .flex-post-content-3 img {
    width: 15px;
    height: 15px;
  }
}

/*Smaller Mobile*/
@media screen and (max-width: 445px) {
  /*Media universal styling*/
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 1em;
  }
  .flex-phone-1 {
    margin-top: 0;
  }
  .flex-landing-1 img {
    width: 100%;
  }
  .flex-landing-2 {
    background-image: url("../imagesHome/backgroundPhone.svg");
  }
  .phone_bound_container {
    justify-content: center;
  }
  .phone_container {
    padding:0;
    justify-content: center;
  }
  .flex-phone-0 {
    justify-content: space-evenly;
    margin-top: 0;
  }
  .post_container {
    min-height: 120px;
    margin-left: 5%;
    margin-top: 10%;
    width: 90%;
  }
  .flex-top-2 .contact-logo {
    height: 25px;
    width: 25px;
  }
  .flex-post {
    padding: 1em 0;
  }
  .flex-post a {
    font-size: .95em;
  }
  .flex-post-content-1 img {
    height: 25px;
    width: 25px;
  }
}

/*S20U*/
@media screen and (width: 412px) {
  .flex-top-1, .flex-top-2 {
    margin-top: 1em;
  }
}

/*Nest Hub*/
@media screen and (width: 1024px) {
  .flex-phone-0 {
    margin-top: -3em;
    padding: 0 1em;
  }
}

/*Nest Hub Max*/
@media screen and (width: 1280px) {
  h2 {
    font-size: .95em;
  }
  .post_container {
    padding: 0;
    max-height: 150px;
  }
  .flex-post {
    padding: .75em 0;
  }
  .flex-post a {
    font-size: 1em;
  }
  .flex-post-content-3 img {
    width: 15px;
    height: 15px;
  }
}