:root {
  --clr-bg-footer: #000;
  --clr-icon: #ddd;
  --clr-icon-active: hsl(176, 77%, 92%);
}

.footer_container {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  background-color: var(--clr-bg-footer);
  border-top: 20px solid #aaa;
  height: 60vh;
  min-height: 500px;
}

.flex-footer-1 {
  text-align: center;
  margin-bottom: 30vh;
}

.flex-footer-1 a {
  color: var(--clr-icon);
  font-family: 'Finger Paint', cursive;
  font-weight: 600;
  font-size: 4em;
  text-decoration: none;
  transition: 200ms ease;
}

.flex-footer-1 a:hover {
  color: var(--clr-icon-active);
}

.flex-footer-link_container {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.flex-footer-2 {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
}

.flex-footer-2 .flex-footer-icon img {
  height: 85px;
  margin-bottom: 2vh;
  width: 85px;
  transition: 200ms ease;
}

.flex-footer-2 .flex-footer-icon img:hover {
  transform: scale(1.1);
}


/**************************************/
/*MEDIA QUERIES*/

@media screen and (max-width: 700px) {
  .flex-footer-1 a {
    font-size: 2em;
  }
  .flex-footer-2 .flex-footer-icon img {
    height: 50px;
    width: 50px;
  }
}